<section class="field restrict-replies">
  <h3>{{i18n "restricted_replies.title"}}</h3>
  <label>
    {{input type="checkbox" checked=category.custom_fields.make_public_enabled}}
    {{i18n "restricted_replies.for_category"}}
  </label>
</section>