{{#if currentUser}}
{{else if isPublicCategory}}
{{else}}
  <div class="container posts">
    <div class="row">
      <p class="alert" style="display:inline-block">Please login to see answers/replies.</p>
    </div>
  </div>
{{/if}}