{{#if currentUser}}
{{else if isPublicCategory}}
{{else}}
  <div class="container posts">
    <div class="row">
      <p class="alert" style="display:inline-block">{{siteSettings?.restrict_connector_topic_title_message}}</p>
    </div>
  </div>
{{/if}}